:root {
    --font-family: Verdana, 'Roboto', 'Segoe UI', 'Arial', sans-serif;
    --color-dark: #1f1f1f;
    /* --color-light: #efefef; */
    --color-theme: rgb(234, 121, 28);
    --color-dark-label: rgba(8, 8, 8, 0.9);
    /* --text-bg-beige: #f9f3e9; */
    --text-bg-beige: rgba(253, 203, 152, 0.8);
    --text-bg-beige: rgba(250, 225, 205, 0.8);
    --text-bg-beige: rgba(255, 230, 179, 0.8);
}

html {
    background: rgba(8, 8, 8, 1);
}

body {
    margin: 0;
    font-family: var(--font-family);
    background: url('./images/wideAnimated.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    /* background-size: 90% 100%; */
}

.container {
    display: grid;
    height: 100vh;
    /* grid-template-rows: minmax(160px, 4fr) minmax(480px, 12fr) minmax(40px, 1fr); */
    /* grid-template-rows: minmax(128px, 4fr) minmax(512px, 16fr) minmax(32px, 1fr); */
    grid-template-rows: minmax(142px, 4fr) minmax(456px, 16fr) minmax(32px, 1fr);
}

#header {
    background: var(--color-dark-label);
    color: var(--color-theme);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: .125em;
}

#content {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    background: var(--color-dark-label);
    font-size: 0.875rem;
    color: var(--color-theme);
}

#footer,
#footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.125em;
}

#footer a {
    text-decoration: none;
    color: inherit;
    padding: 0.25em;
    gap: 0.25em;
    border-radius: 0.25em;
    transition: filter 150ms ease, background-color 150ms ease;
}

#footer a:hover {
    background-color: #dfdfdf;
    color: var(--color-dark);
}

#footer a:hover img {
    filter: invert(1);
}

#footer img {
    width: 1.125em;
}

.title h1 {
    margin: 0;
    font-size: 3.25rem;
}

.navigate {
    width: 50%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.navigate a {
    font-size: 1.125rem;
    padding: 0.5em;
    cursor: pointer;
    position: relative;
    text-wrap: nowrap;
    border-radius: 0.25em;
    transition: color 100ms ease,
        background-color 100ms ease,
        transform 250ms ease;
}

.navigate a:hover {
    transform: translateY(-4px);
    background-color: #2f2f2f;
    color: #fff;
}

.navigate a::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    border-color: transparent;
    transition: width 400ms ease;
}


.navigate a:hover::after,
.navigate a.active::after {
    width: 100%;
}

.navigate a.active {
    color: #fff;
    transform: translateY(-4px);
}



.flex-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.home-container {
    min-height: 320px;
    /* max-height: 100%; */
    /* height: clamp(); */
    width: 60%;
    background: var(--text-bg-beige);
    border: 6px solid var(--text-bg-beige);
    border-radius: .5rem;
}