:root {
    --font-family: Verdana, 'Roboto', 'Segoe UI', 'Arial', sans-serif;
    --color-dark: #1f1f1f;
    --color-light: #efefef;
    --color-bg-dark: rgba(3, 3, 3, 0.9);
    --color-bg-light: rgba(225, 225, 225, 0.9);

    --color-lilac: #a57cff;
    --color-lilac-light: #c7aefe;
    --color-lavender: #9648e4;
    --color-lavender-light: #a55bee;
    --color-lavender-dark: #7226be;
    --color-theme: #c09ef4;

    --color-bg-theme: rgba(12, 0, 18, 0.98);
    --color-light: rgb(230, 230, 250);

    /* Testing Colors */
    --color-wheat: rgb(245, 222, 179);
    --color-bg-dark: rgba(3, 3, 3, 0.97);
}

body {
    margin: 0;
    font-family: var(--font-family);
}

.container {
    display: flex;
    flex-direction: column;
    background: url('./images/cinema-town-animated-2.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: auto;
    gap: 4em;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: .25em;
    gap: 1.5em;
    border-bottom: 1px solid var(--color-lavender);
    /* box-shadow: 0 24px 12px -26px var(--color-lavender-dark); */
    box-shadow: 0px calc(1vh * 2) calc(2vh) calc(1vh * -2) var(--color-lavender-dark);
}

#header .title-wrapper {
    font-size: 4em;
    padding: 0.25em;
    line-height: 1.4;
    text-wrap: nowrap;
    letter-spacing: 2px;
    /* word-spacing: -0.125em; */
}

#header .title-wrapper h1 {
    margin: 0;
    font-size: 1em;
}

#content {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#content>* {
    box-shadow: var(--color-lavender-dark) 0px 3px 10px 2px;
}

#footer {
    padding: 0.75em;
    letter-spacing: 0.25px;
    border-top: 1px solid var(--color-lavender);
    /* box-shadow: 0 -2px 2px 1px var(--color-lavender-dark); */
    box-shadow: 0px calc(1vh * -2) calc(2vh) calc(1vh * -2) var(--color-lavender-dark);
}

#header,
#footer {
    background: var(--color-bg-theme);
    color: var(--color-theme);
}

#footer,
#footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.125em;
}

#footer a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    padding: 0.25em 0.375em;
    gap: 0.25em;
    border-radius: 0.25em;
    transition: filter 150ms ease, background-color 150ms ease, color 150ms ease;
}

#footer a:hover {
    background-color: #dfdfdf;
    color: rgba(5, 5, 5);
}

#footer img {
    width: 1.125em;
    transition: filter 150ms ease;
}

#footer a:hover img {
    filter: invert(1);
}

#footer a>div {
    font-weight: 600;
}

.navigate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 526px;
    width: calc(380px + 12vw);
    padding: 0.125em 0;
    /* color: var(--color-lilac); */
    border-top: 1px solid var(--color-lavender);
}

.navigate a.nav-item {
    padding: 1.25em;
    line-height: 1.3;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    text-wrap: nowrap;
    min-width: 4em;
    text-align: center;
    border-radius: 0.125rem;
    /* transition: color 100ms ease, background-color 100ms ease, transform 250ms ease; */
    transition: all 50ms ease, transform 200ms ease;
}

.navigate a.nav-item:hover {
    color: var(--color-light);
    letter-spacing: 2px;
    transform: translateY(-3px);
    transition: box-shadow 250ms ease-in, transform 200ms ease,letter-spacing 250ms ease;
    box-shadow: 0px -4em 2em -4em var(--color-lavender-light) inset;
}

.navigate a::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0;
    min-height: 1px;
    max-height: 1px;
    background-color: var(--color-theme);
    border: none;
    /* transition: width 400ms ease, box-shadow 300ms ease; */
    transition: all 325ms ease-out;
    transition: all 325ms ease-out, background-color 50ms ease;
}

.navigate a:hover::after,
.navigate a.active::after {
    width: 100%;
    background-color: var(--color-lavender-dark);
}

.navigate a.active {
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    transform: translateY(-3px);
    pointer-events: none;
    box-shadow: 0px -4em 2em -4em var(--color-lilac) inset;
}

.navigate a.active,
.navigate a.active::after {
    opacity: 0.95;
}

.home-container {
    font-size: 1.25em;
    padding: 3em 2.5em;
    min-height: 380px;
    width: 60%;
    background: var(--color-bg-theme);
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    overflow: hidden;
    border: 4px solid var(--color-lavender);
    border-radius: 0.25rem;
    outline: 2px solid var(--color-lavender-dark);
    outline-offset: -3px;
}

.home-container>* {
    margin: 0;
    width: 90%;
    padding: 0.125em;
}

.home-container h2 {
    font-size: 1.75em;
    letter-spacing: 2px;
    word-spacing: 1px;
}

.home-container .text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.home-container p {
    margin: 0;
    letter-spacing: 0.25px;
    line-height: 1.4;
    width: inherit;
}

#orderButton {
    font-size: 1em;
    font-weight: 600;
    font-family: var(--font-family);
    padding: 0.875em;
    margin-top: .625em;
    cursor: pointer;
    width: clamp(30%, 280px, 45%);
    min-width: max-content;
    letter-spacing: .75px;
    word-spacing: .375em;
    line-height: 1.5;
    background-color: var(--color-lavender);
    color: var(--color-light);
    border: none;
    border-radius: 1px;
    outline: 2px solid var(--color-lavender-dark);
    outline-offset: 3px;
    opacity: 0.95;
    transition: all 250ms ease, opacity 50ms ease, outline-color 50ms, color 50ms, background-color 50ms;
}

#orderButton {
    color: var(--color-bg-theme);
    color: rgba(12, 0, 18, 0.98);
    background-color: var(--color-theme);
    outline-width: 2px;
    outline-color: var(--color-lilac);
    border-radius: 1px;
    opacity: 0.85;
}

#orderButton:hover {
    background-color: var(--color-lavender-dark);
    outline-color: var(--color-lavender-light);
    color: #fff;
    opacity: 0.6;
    transform: scaleX(1.2) scaleY(1.05) translateX(22.5px) translateY(-1.5px);
    word-spacing: 0.625em;
    letter-spacing: 1.25px;
}

.menu-container {
    border: 1px solid #fff;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    color: var(--color-light);
    background: var(--color-bg-theme);
    padding: 2em;
    cursor: default;
}

.menu-container h2 {
    margin: 0;
    font-size: 2em;
    letter-spacing: 0.5px;
    padding: 0.75em;
}

.cards-wrapper {
    border: 1px solid magenta;
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: rgb(7, 7, 7);
    padding: 1em;
    gap: 3em;
}

.card {
    font-size: 1.125em;
    border: 2px solid white;
    padding: 1.25em;
    padding-right: 2.5em;
    min-height: 10em;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 5fr 1fr;
    grid-template-rows: 3.25em 1fr;
    align-items: center;
    justify-items: center;
    color: var(--color-light);
    overflow: auto;
}

.card .card-img {
    height: 7.5em;
    width: 8.5em;
    grid-row: span 2;
    background: darkred;
    margin-right: .5em;
}

.card h3,
.card p {
    margin: 0;
    width: 85%;
    justify-self: start;
    letter-spacing: 0.5px;
}

.card h3 {
    font-size: 1.125em;
    line-height: 2;
    align-self: end;
}

.card p {
    line-height: 1.3;
    align-self: start;
    opacity: 0.75;
}

.card div.price,
.card a.card-btn {
    justify-self: end;

}

.card div.price {
    line-height: 2.2;
    align-self: end;
}

.card a.card-btn {
    text-decoration: none;
    background: url('./images/plus-icon.svg') no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(7, 7, 7);
    border: 3px solid var(--color-light);
    border-radius: 0.125em;
    height: 2.125em;
    width: 2.125em;
    margin-top: 1.5em;
    transition: transform 200ms ease, border-color 100ms ease, filter 100ms ease;
}

.card a.card-btn:hover {
    transform: scale(1.1) translateY(-1px) translateX(-1px);
    border-color: #000;
    filter: invert(1);
}